@model IEnumerable<OtiumActio.Models.Category>
@{
    ViewData["Title"] = "Otium Actio";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="keywords" content="Sociala aktiviteter, Matlöagning, Föreläsning, Bio, Naturvandring" />
    <meta name="description" content="Sociala aktiviteter som kan skapas eller väljas emelan. OtiumActio är ett latiskt ord för Fritidsaktivitet, ett växande nätverk för gemensamma aktiviteter." />
</head>

<body>
    <div>
        <div class="text-center">
            <h1 class="display-4 ">Otium Actio</h1>
            <h3>Ett latiskt ord för Fritidsaktivitet.</h3>
            <h4>Ett nätverk för gemensamma aktiviteter. Skapa din egen, om det inte finns en här!</h4>
            <h2>kommande aktiviteter...</h2>
        </div>

        <div id="listOfActivities"></div>

        <div class="text-center" style="margin-bottom: 15px;">
            <p>Inga passande aktiviteter? </p>
        @Html.ActionLink("Skapa din egen!","Index", "SuggestedActivity");
        </div>
    </div>
    </body>
</html>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                 var url = "@(Html.Raw(Url.Action("GetSelectedActivities", "Activity")))";
                    $('#listOfActivities').load(url);
                    });
            function loadActivities() {
                alert("hit the jquery function");
                event.preventDefault();
                $.get('@Url.ActionLink("GetSelectedActivities","Activity")',function(data){
                    $('#listOfActivities').html(data);
                })
                }
        </script>
    }

